*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.landingpage{
    background-image: url("../assets/h_img.jpg");
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white;
}

.landing-desc{
    padding: 300px;
}


.card{
    text-align: center;
    padding: 2rem;
}

.services{
    background-image: url("assets/s_image");
}

.whatwedo{
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
}

.portfolio img{
    height: 250px;
    padding: 10px;
   
}

.portfolio{
    background-color: aqua;
    text-align: center;
}

.row1, .row2{
    display: flex;
    align-items: center;
}

.contact{
    justify-content: space-around;
    background-image: url("../assets/c_image.jpg");
    height: 40vh;
    color: white;
    padding: ;
}

.desc{
    display: none;
}

.description1, .description2, .description3{
    display: none;
}

.services{
    background-image: url("../assets/s_image.jpg");
    color: white;
    height: 40vh;
    padding: 100px;
    font-weight: 500;
}

.input{
    padding: 15px;
}

#message, #email, #name{
    padding-top: 10px;
    background-color:rgba(255,255,255,0);
    color: white;
   
}

#message{
    height: 200px;
}



.footer, .copyright{
text-align: center;
padding-top: 20px;
}

